* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
.btn-primary {
  background-color: #dd0000;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}
.contianer {
  max-width: 1280px;
  margin: auto;
}

/* shared style end  */

/* banner style  */
.banner-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 50px auto;
  border-radius: 10px;
}

.banner-left {
  padding: 45px;
  flex: 1;
}
.banner-right {
  flex: 1;
}
.banner-left h1 {
  font-size: 70px;
}
.banner-left p {
  margin: 15px 0;
}
img {
  max-width: 100%;
}
.banner-right img {
  display: block;
}

/* upcoming-matches */
.upcoming-matches {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.upcoming-matches-left {
  background-color: black;
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
}
.upcoming-matches-left .btn-primary:nth-child(1),
.upcoming-matches-left .btn-primary:nth-child(2) {
  background-color: white;
  color: black;
}
/* upcoming-matches-right  */
.upcoming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcoming-matches-right .card .btn-primary {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 28px;
}
.upcoming-matches-right .card h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
.card-bottom {
  display: flex;
  gap: 20px;
  color: rgba(22, 22, 22, 0.7);
}

/* responsive media query for laptop device */
@media (max-width: 992px) {
  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn-primary {
    border: 1px solid #e8e8e8;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* responsive media for mobile device  */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;

  }
  .upcoming-matches-right {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-left{
   padding: 0px 0px 0px 10px;
  }
  .banner-left h1{
   margin-top: 10px;
   font-size: 30px;
  }
  .banner-right{
   margin-top: 30px;
  }
  .upcoming-matches-left{
   flex-direction: column;
   
  }
}
